﻿<ion-view view-title="Transfer Details">
    <ion-content>

        <div class="row transDetailsHdr">
            <div class="col p-0">

                <div class="row">
                    <div class="label-type {{labelTypeClr}}">{{typeLabelTxt}}</div>
                </div>

                <div class="row">
                    <div class="col col-25">
                        <img ng-if="transDetail.Photo != null" class="transDetails-userImg" src="{{transDetail.Photo}}">
                        <img ng-if="transDetail.Photo == null" class="transDetails-userImg" src="./img/profile_picture.png">
                    </div>
                    <div class="col">
                        <h2 class="transDetails-userName" ng-if="transDetail.Name.length > 1 && transDetail.InvitationSentTo.length == null">{{transDetail.Name}}</h2>
                        <h2 class="transDetails-userName" ng-if="transDetail.InvitationSentTo.length >= 1">{{transDetail.InvitationSentTo}}</h2>
                        <div class="transDetails-amount">{{transDetail.Amount | currency}}</div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row p-0 animated fadeIn" ng-if="transDetail.Memo != null && transDetail.Memo != ''">
            <div class="col">
                <div class="transDetails-memo">"{{transDetail.Memo}}""</div>
            </div>
        </div>

        <div class="row text-center p-15">
            <div class="col">
                <div id="transDetails-status" class="{{transDetail.TransactionStatus}} animated bounceIn delay-1">{{transDetail.TransactionStatus}}</div>
                <div id="transDetails-date">{{transDetail.TransactionDate | date : "MMMM d, y" : "EDT"}}</div>
                <div id="transDetails-time">{{transDetail.TransactionDate | date: "h:mm a" : "EDT"}}</div>
            </div>
        </div>


        <div ng-show="hasLatiLongi == true && hasPicture == true">
            <div style="height:100%; width:50%; float:left">
                <img width="200" class="img-rounded-15" src="data:image/png;base64,{{transDetail.Picture}}" />
            </div>
            <div style="height:100%; width: 50%; float: left; position:relative" id="mapRow">
                <div ng-controller="transferDetailsCtrl as vm">
                    <ng-map zoom="13" center="{{Location.lati}},{{Location.longi}}" style="height:200px"
                            on-center-changed="centerCustomMarker()">
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <custom-marker id="foo" position="{{Location.lati}},{{Location.longi}}" on-click="vm.closeCustomMarker()">
                        </custom-marker>
                    </ng-map>
                    <div id="mapGeoLabel">{{mapGeoLabelTxt}}</div>
                </div>
            </div>
        </div>

        <div ng-show="hasLatiLongi == true && hasPicture == false">

            <div style="width:100%" id="mapRow" align="right">
                <div ng-controller="transferDetailsCtrl as vm">
                    <ng-map zoom="13" center="{{Location.lati}},{{Location.longi}}" style="height:200px"
                            on-center-changed="centerCustomMarker()">
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <marker position="{{Location.lati}},{{Location.longi}}" on-click="vm.showCustomMarker()"></marker>
                        <custom-marker id="foo" position="{{Location.lati}},{{Location.longi}}" on-click="vm.closeCustomMarker()">
                        </custom-marker>
                    </ng-map>
                    <div id="mapGeoLabel">{{mapGeoLabelTxt}}</div>
                </div>
            </div>
        </div>

        <div ng-if="hasLatiLongi == false && hasPicture == true">
            <div class="text-center">
                <img class="img-rounded-20" width="300" src="data:image/png;base64,{{transDetail.Picture}}" />
            </div>
        </div>


        <div class="row text-center m-t-15" ng-if="transDetail.TransactionStatus == 'Pending'">
            <div class="col" ng-if="((transDetail.MemberId != memId) || (transDetail.MemberId == memId && transDetail.MemberId==transDetail.RecepientId) && (transDetail.TransactionType == 'Request')) || (transDetail.TransactionType == 'Invite' && transDetail.MemberId == memId)">
                <button class="button btn-primary button-block" ng-click="remindPayment()">Remind</button>
            </div>

            <div class="col" ng-if="((transDetail.MemberId != memId) || (transDetail.MemberId == memId && transDetail.MemberId==transDetail.RecepientId) && (transDetail.TransactionType == 'Request')) || (transDetail.TransactionType == 'Invite' && transDetail.MemberId == memId)">
                <button class="button btn-danger button-block" ng-click="cancelPayment()">Cancel</button>
            </div>

            <div class="col" ng-if="(transDetail.MemberId == memId && transDetail.MemberId!=transDetail.RecepientId && (transDetail.TransactionType == 'Request' || transDetail.TransactionType == 'Rent'))|| (transDetail.TransactionType == 'Invite' && transDetail.MemberId != memId)">
                <button class=" btn btn-danger button-block" ng-click="rejectPayment()">Reject</button>
            </div>

            <div class="col" ng-if="(transDetail.MemberId == memId && transDetail.MemberId!=transDetail.RecepientId && (transDetail.TransactionType == 'Request' || transDetail.TransactionType == 'Rent'))|| (transDetail.TransactionType == 'Invite' && transDetail.MemberId != memId)">
                <button class="btn btn-success button-block" ng-click="TransferMoney()">Pay</button>
            </div>



        </div>

        <div class="row text-center m-t-15" ng-if="transDetail.TransactionStatus == 'Success'">


            <div class="col" ng-if="transDetail.MemberId != memberId && transDetail.TransactionType == 'Request' ">
                <button class="btn btn-success button-block" ng-click="PayBack(transDetail)">Pay Back</button>
            </div>

        </div>

    </ion-content>
</ion-view>
