﻿<ion-view view-title="Enter PIN Foreground" cache-view="false">
    <ion-content scroll="false">

        <div id="resetPinScrn" class="row text-center m-t-30">
            <div class="col">

                <h2 class="instructionTextPin m-t-40">Enter Your PIN</h2>

                <p class="instructionTxt text-danger p-l-5 p-r-5"></p>

                <div class="row indicatorDotWrap animated fast">
                    <div class="col">
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                    </div>
                </div>

                <div class="row numPadWrap animated">
                    <div class="col">
                        <button ng-click="numTapped(1)">1</button>
                        <button ng-click="numTapped(4)">4</button>
                        <button ng-click="numTapped(7)">7</button>
                    </div>
                    <div class="col">
                        <button ng-click="numTapped(2)">2</button>
                        <button ng-click="numTapped(5)">5</button>
                        <button ng-click="numTapped(8)">8</button>
                        <button ng-click="numTapped(0)">0</button>
                    </div>
                    <div class="col">
                        <button ng-click="numTapped(3)">3</button>
                        <button ng-click="numTapped(6)">6</button>
                        <button ng-click="numTapped(9)">9</button>
                        <button class="text-danger" ng-click="numTapped(10)">x</button>
                    </div>
                </div>

            </div>
        </div>

    </ion-content>
</ion-view>
