﻿<ion-view view-title="Statistics">
    <ion-content>

        <div class="row statsIconContainer m-t-10">
            <div class="col">
                <button class="slide0 selected" ng-click="gotoSlide1()"><i class="ion-cash"></i></button>
            </div>
            <div class="col">
                <button class="slide1" ng-click="gotoSlide2()"><i class=" ion-person"></i></button>
            </div>
            <div class="col">
                <button class="slide2" ng-click="gotoSlide3()"><i class=" ion-ios-people"></i></button>
            </div>
        </div>

        <ion-slide-box on-slide-changed="slideChanged(index)" show-pager="false" id="statsSlider">

            <ion-slide>

                <div class="card m-b-10">

                    <h3 class="text-center m-t-15">Transfer Stats</h3>

                    <div class="list">
                        <div class="item">Total Compleated Payments <span class="badge badge-calm" ng-model="stats.TotalCompletedPayments">{{stats.Total_P2P_transfers}}</span></div>

                        <div class="item">Payments Sent <span class="badge badge-calm" ng-model="stats.PaymentSent">{{stats.Total_no_of_transfer_Sent}}</span></div>

                        <div class="item">Totel Sent <span class="badge badge-calm" ng-model="stats.TotalSent">$&nbsp;{{stats.TotalSent}}</span></div>

                        <div class="item">Payments Received <span class="badge badge-calm" ng-model="stats.PaymentReceived">{{stats.Total_no_of_transfer_Received}} </span></div>

                        <div class="item">Totel Received <span class="badge badge-calm" ng-model="stats.TotalRecevied">$&nbsp;{{stats.Total_$_Received}}</span></div>

                        <div class="item">Largest Transfer Sent <span class="badge badge-calm" ng-model="stats.LargestTransferSent">$&nbsp;{{stats.Largest_sent_transfer}}</span></div>

                        <div class="item">Largest Transfer Received <span class="badge badge-calm" ng-model="stats.largestTransferReceived">$&nbsp;{{stats.Largest_received_transfer}}</span></div>
                    </div>

                </div>

                <div class="row">
                    <div class="col" id="statsExportWrap">
                        <button type="button" class="btn btn-primary button-block" ng-click="exportHistory()"><i class="ion-ios-cloud-download m-r-15"></i>Export Account History</button>
                    </div>
                </div>

            </ion-slide>

            <ion-slide>

                <div class="card">

                    <h3 class="text-center m-t-15">Profile Stats</h3>

                    <div class="list" id="statsProfile">

                        <div class="item">Friends Invited<span class="badge badge-calm">{{stats.Total_Friends_Invited}}</span></div>

                        <div class="item">Invites Accepted <span class="badge badge-calm">{{stats.Total_Friends_Joined}}</span></div>

                        <div class="item">
                            Posts To Twitter
                            <i class="ion-social-twitter m-l-10"></i>
                            <span class="badge badge-calm"> {{stats.Total_Posts_To_TW}} </span>
                        </div>

                        <div class="item">
                            Posts To Facebook
                            <i class="ion-social-facebook m-l-5"></i>
                            <span class="badge badge-calm">{{stats.Total_Posts_To_FB}}</span>
                        </div>

                        <a class="item text-center" href="#/app/referAfriend">
                            <i class="ion-person-add lt-gray-text"></i>
                            Refer More Friends
                            <i class="ion-arrow-right-b lt-gray-text"></i>
                        </a>

                    </div>

                </div>

            </ion-slide>

            <ion-slide>

                <div id="statsEmptyDiv" ng-show="friendList == null || friendList.length == 0">
                    <p class="f-19 m-b-20">Once you make or receive some payments, your top friends will show up here.</p>

                    <img src="././img/StatsCircled@2x.png" class="animated" />
                </div>

                <div ng-show="friendList != null && friendList.length > 0">
                    <div align="center">
                        <zingchart id="topFriendsChart" zc-height=200 zc-width=200></zingchart>
                    </div>

                    <div id="topFriendsTable" class="card">
                        <ion-scroll>
                            <h3 class="text-center m-t-0">Top {{friendList.length}} Friends</h3>

                            <div class="list icon-right">

                                <a class="item item-avatar" ui-sref="app.howMuch({recip:friend})" nav-transition="ios" nav-direction="forward" ng-repeat="friend in friendList">
                                    <img src="{{friend.Photo}}" class="userPic">
                                    <h2>{{friend.FirstName}} {{friend.LastName}}</h2>
                                    <p>{{friend.Frequency}} Payments</p>
                                    <i class="ion-ios-compose-outline"></i>
                                </a>
                            </div>
                        </ion-scroll>
                    </div>
                </div>

            </ion-slide>
        </ion-slide-box>

    </ion-content>
</ion-view>