﻿<ion-view view-title="History">

    <ion-nav-buttons side="secondary">
        <button class="button button-clear" ng-click="openFilterChoices()" ng-disabled="filterFlag.length == 0">
            <i class="ion-funnel"></i>
        </button>
    </ion-nav-buttons>

    <ion-content scroll="false">

        <div class="row">
            <div class="col">
                <ti-segmented-control>
                    <ti-segmented-control-button ng-click="toggleView('completed')" id="btnCompleted" class="button-positive" title="'Completed'" selected><i class="ion-checkmark-circled"></i>Completed</ti-segmented-control-button>
                    <ti-segmented-control-button ng-click="toggleView('pending')" id="btnPending" class="button-positive" title="'Pending'">
                        <i class="ion-android-time"></i>
                        Pending
                        <span ng-if="pendingTransfersCount != null && pendingTransfersCount > 0">({{pendingTransfersCount}})</span>
                    </ti-segmented-control-button>
                </ti-segmented-control>
            </div>
        </div>

        <div class="list list-inset m-t-0 m-b-10">
            <label class="item item-input searchBarContainer">
                <i class="icon ion-search placeholder-icon p-r-0"></i>
                <input type="search" ng-keyup="checkList()" id="searchBar" ng-model="search" placeholder="Search Payment History">
            </label>
        </div>

        <ion-scroll direction="y" class="history-list" ng-style="historyListHeight">

            <div class="firstTimeWrap" ng-if="isFinishedLoading == true && transactionList.length == 0" ng-style="firstTimeDivHeight">
                <div class="animated slideInDown">
                    <h2>No Payments Yet...</h2>
                    <p>Once you make or receive a payment it will appear here.</p>
                </div>
                <img class="animated bounceInUp" src="././img/HistoryPending.png" />
            </div>

            <ion-list ng-show="transactionList.length > 0 && completed" id="completedView">
                <ion-item class="item item-avatar" ui-sref="app.transferDetails({trans:trans})" ng-repeat="trans in transactionList | filter:search" ng-if="trans.TransactionStatus == 'Success' || trans.TransactionStatus == 'Cancelled' || trans.TransactionStatus == 'Rejected'  ">

                    <img ng-if="trans.Photo != null" src={{trans.Photo}}>
                    <img ng-if="trans.Photo == null" src="./img/profile_picture.png">

                    <div class="typeDateContainer">
                        <i class="ion-forward" ng-if="(trans.TransactionType == 'Transfer' && trans.MemberId == memberId) || (trans.TransactionType == 'Request' && trans.RecepientId == memberId)"></i>
                        <i class="ion-reply" ng-if="(trans.TransactionType == 'Transfer' && trans.RecepientId == memberId) || (trans.TransactionType == 'Request' && trans.MemberId == memberId)"></i>

                        <label class="transTypeLabel {{trans.TransactionType}}">{{trans.TransactionType}}</label>

                        <label class="transTypeLabel {{trans.TransactionStatus}}" ng-if="trans.TransactionStatus != 'Success'">{{trans.TransactionStatus}}</label>
                        <label class="transTypeLabel {{trans.TransactionStatus}}" ng-if="trans.TransactionStatus == 'Success' && trans.TransactionType == 'Request'">PAID</label>
                        <label class="transTypeLabel {{trans.TransactionStatus}}" ng-if="trans.TransactionStatus == 'Success' && trans.TransactionType != 'Request'">COMPLETED</label>

                        <!--<label class="transTypeLabel sent" ng-if="trans.MemberId == memberId">Transfer To</label>
                        <label class="transTypeLabel received" ng-if="trans.MemberId != memberId">Transfer From</label>

                        <span ng-if="trans.TransactionType == 'Disputed' && trans.DisputeStatus == 'Resolved'">
                            <label class="transTypeLabel received">Dispute Resolved</label>
                        </span>-->

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="name" ng-if="trans.Name.length > 1 && trans.InvitationSentTo == null">
                        {{trans.Name}}
                    </div>
                    <div class="name" ng-if="trans.InvitationSentTo != null">
                        {{trans.InvitationSentTo}}
                    </div>

                    <p class="memo-container" ng-if="trans.Memo != null && trans.Memo != ''">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                    <span class="item-note amount">{{trans.Amount | currency}}</span>

                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="PayBack(trans)" ng-show="trans.MemberId != memberId && trans.TransactionType == 'Request' && trans.TransactionStatus == 'Success' ">Pay Back </ion-option-button>
                    <ion-option-button class="button-positive" ui-sref-ignore ng-if="trans.Latitude != 0 && trans.Longitude != 0 && trans.Latitude != '' && trans.Longitude != ''" ng-click="showMap(trans.Latitude,trans.Longitude)"><i class="ion-ios-location m-10"></i></ion-option-button>

                </ion-item>

                <p class="emptyView">No transactions found!</p>

            </ion-list>

            <ion-list ng-show="transactionList.length > 0 && pending">
                <ion-item class="item item-avatar" ui-sref-active="false" ui-sref="app.transferDetails({trans:trans})" ng-repeat="trans in transactionList | filter:search" ng-if="trans.TransactionStatus == 'Pending'">

                    <img ng-if="trans.Photo != null" src={{trans.Photo}}>
                    <img ng-if="trans.Photo == null" src="./img/profile_picture.png">

                    <div class="typeDateContainer">

                        <i class="ion-forward" ng-if="trans.RecepientId == memberId"></i>
                        <i class="ion-reply" ng-if="trans.RecepientId != trans.MemberId && trans.RecepientId != memberId"></i>

                        <label class="transTypeLabel {{trans.TransactionType}}" ng-if="trans.TransactionType != 'Disputed'">{{trans.TransactionType}}</label>

                        <label class="transTypeLabel Disputed" ng-if="trans.TransactionType == 'Disputed' && trans.DisputeStatus == 'Under Review'">Dispute Under Review</label>

                        <label class="transTypeLabel {{trans.TransactionStatus}}">{{trans.TransactionStatus}}</label>

                        <h5 class="date"><i class="ion-android-time m-r-5"></i>{{trans.TransactionDate | date : "mediumDate"}}</h5>
                    </div>

                    <div class="name" ng-if="trans.Name.length > 1 && trans.InvitationSentTo.length == null">{{trans.Name}}</div>
                    <div class="name" ng-if="trans.InvitationSentTo.length >= 1">{{trans.InvitationSentTo}}</div>

                    <p class="memo-container" ng-if="trans.Memo != null && trans.Memo != ''">For "<span class="memo-text">{{trans.Memo}}</span>"</p>

                    <span class="item-note amount text-primary">{{ trans.Amount | currency}}</span>

                    <ion-option-button class="button-assertive " ui-sref-ignore ng-click="rejectPayment(trans)" ng-show="(trans.MemberId == memberId   && trans.MemberId!=trans.RecepientId && (trans.TransactionType == 'Request' )) || (trans.MemberId != memberId && trans.TransactionType == 'Invite')">Reject</ion-option-button>
                    <ion-option-button class="button-balanced" ui-sref-ignore ng-click="TransferMoney(trans)" ng-show="(trans.MemberId == memberId   && trans.MemberId!=trans.RecepientId && (trans.TransactionType == 'Request' )) || (trans.MemberId != memberId && trans.TransactionType == 'Invite')">Accept</ion-option-button>
                    <ion-option-button class="button button-assertive " ui-sref-ignore ng-click="cancelPayment(trans)" ng-show="((trans.MemberId != memberId) || (trans.MemberId == memberId && trans.MemberId==trans.RecepientId) && (trans.TransactionType == 'Request' ))||(trans.TransactionType == 'Invite' && trans.MemberId == memberId  )">Cancel</ion-option-button>
                    <ion-option-button class="button-positive" ui-sref-ignore ng-click="remindPayment(trans)" ng-show="((trans.MemberId != memberId) || (trans.MemberId == memberId && trans.MemberId==trans.RecepientId) && (trans.TransactionType == 'Request' ))||(trans.TransactionType == 'Invite' && trans.MemberId == memberId  )">Remind</ion-option-button>

                </ion-item>

                <p class="emptyView">No pending transactions found!</p>

            </ion-list>

        </ion-scroll>

    </ion-content>

</ion-view>
