﻿<ion-view view-title="How Much">
    <ion-content scroll="false">

        <div id="howMuchBox" class="card m-t-10">

            <form id="howMuchForm">

                <div class="header-item barBackground" ng-class="{'blue': requestSelected == true, 'green': sendSelected == true}">
                    To:&nbsp;
                    <span id="recipName" class="animated flipInX" ng-if="recipientDetail.FirstName || recipientDetail.UserName || recipientDetail.ContactNumber">
                        <span ng-if="recipientDetail.FirstName" class="capitalize">{{recipientDetail.FirstName}}</span>
                        <span ng-if="recipientDetail.LastName">{{recipientDetail.LastName}}</span>
                        <i class="ion-person m-l-10" ng-if="recipientDetail.FirstName"></i>
                        <span ng-if="!recipientDetail.FirstName && !recipientDetail.LastName && recipientDetail.UserName">
                            {{recipientDetail.UserName}}
                            <i class="ion-email m-l-10"></i>
                        </span>
                        <span id="contactNum" ng-if="!recipientDetail.FirstName && !recipientDetail.LastName && recipientDetail.ContactNumber">
                            {{recipientDetail.ContactNumber}}
                            <i class="ion-iphone m-l-10"></i>
                        </span>
                    </span>

                    <!--Commenting out till group request feature is ready.<a href="" ng-hide="true"><i class="ion-plus-circled pull-right f-19"></i></a>-->
                </div>

                <div class="row">
                    <div class="col col-25">
                        <img class="recip-pic" src="{{recipientDetail.Photo}}">
                    </div>

                    <div class="col">
                        <div class="amount-container">
                            <i id="dollarSign" class="ion-social-usd"></i>
                            <input id="amountField" type="text" ng-model="recipientDetail.Amount" placeholder="00.00" maxlength="7" readonly />
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col">
                        <div id="memoField" class="item item-input text-center">
                            <input type="text" ng-model="recipientDetail.Memo" placeholder="Enter a Memo" maxlength="100">

                            <a href="" ng-click="changePic()" id="add-img-btn" ng-if="isPicAttachedToTrans != true">
                                <i class="ion-camera m-l-5"></i>
                            </a>

                            <span id="picAttached" ng-click="changePic()" ng-if="isPicAttachedToTrans == true">
                                <!--<i class="ion-camera purp-text m-l-5"></i>-->
                                <img src="{{pictureBase64}}" />
                            </span>

                        </div>
                    </div>
                </div>

                <div class="button-bar">
                    <button id="requestBtn" class="button btn-primary button-block" ng-class="{'expand': requestSelected == true, 'shrink': sendSelected == true}" ng-click="submitRequest()">
                        <span ng-show="requestSelected">CONFIRM</span>
                        REQUEST
                    </button>
                    <button id="sendBtn" class="button button-block btn-success" ng-class="{'expand': sendSelected == true, 'shrink': requestSelected == true}" ng-click="submitSend()">
                        <span ng-show="sendSelected">CONFIRM</span>
                        SEND
                    </button>
                    <div id="resetBtn" class="animated fast fadeIn" ng-if="requestSelected || sendSelected" ng-click="resetBtns()"><i class="ion-close-round"></i></div>
                </div>

            </form>

        </div>

    </ion-content>

    <ion-digit-keyboard settings="keyboardSettings"></ion-digit-keyboard>
</ion-view>
