﻿<ion-view view-title="Enter PIN" cache-view="false">
    <ion-content scroll="false">

        <div class="bar bar-header bar-calm">
            <button class="button ion-chevron-left" ng-click="GoBack(returnUrl)" ng-show="returnPage != 'Home'"></button>
            <h6 class="title">Enter PIN</h6>
        </div>

        <br /><br />

        <h2 class="instructionTextPin m-t-40">
            <span class="show animated slideInDown">Enter PIN to complete your</span>
            <span class="show animated slideInRight" ng-class="{'text-success': type == 'transfer', 'text-primary': type == 'request'}">{{type}}</span>
        </h2>

        <div class="row indicatorDotWrap animated zoomIn m-t-20 m-b-15" ng-class="{'green': type == 'transfer'}" id="enterPin">
            <div class="col">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>

        <div class="row animated zoomIn">
            <div class="col text-center">
                <div class="amountPin">${{Details.Amount}}</div>
            </div>
        </div>

        <div class="card text-center m-t-10 recipient-box animated fadeInLeft">
            <img src="{{Details.Photo}}" class="recip-pic" />

            <div class="namebar" ng-class="{'namebar-send': type == 'transfer', 'namebar-request': type == 'request'}">
                {{Details.RecepientName}}
            </div>

            <div class="memo-text">{{Details.Memo}}</div>

            <span id="picAttached" ng-if="attachedPicForLocalDisplay != null">
                <img class="animated bounceIn" src="{{attachedPicForLocalDisplay}}" />
            </span>
        </div>

    </ion-content>

    <ion-digit-keyboard settings="keyboardSettings"></ion-digit-keyboard>
</ion-view>
